{{!--
    Add Agent View
    @date: 10/8/2017
    @author: FC, ES 

    @params: 
            
--}}
   
<form action="add" method="post">
    Enter new Agent name: 
    <input type="text" name="{{this.f1}}">
    <input type="text" name="{{this.f2}}">
    <button type="submit">Add Agent</button>
</form>