{{!--
    Single Agent View
    @date: 10/8/2017
    @author: FC, ES 

    @params: 
            - (this):   obj     Agent
            - ._id:     hex     Agent's ID
            - .name:    str     Agent's name
            - .surname: str     Agent's surname
--}}

<h1>Agent: {{this._id}}</h1>
<h3>Name: {{this.name}}</h3>
<h3>Surname: {{this.surname}}</h3>
